.container {
    margin-top: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .table-container {
    margin-top: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container th {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
  }
  
  .table-container td {
    padding: 8px;
  }
  
  .table-container td:first-child {
    font-weight: bold;
  }
  
  .button-container {
    margin-top: 10px;
  }
  