.payment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left:-21px;
  }
  
  .payment-table th,
  .payment-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 2px solid black;
  }
  
  .payment-table th {
    background-color: #52e8e6;
    border: 2px solid black;
  }
  
  .payment-table tr:hover {
    background-color: #f5f5f5;
  }
  
  .action-bar {
    display: flex;
    justify-content: center;
  }
  
  .action-bar button {
    padding: 5px 10px;
  }
  